<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./works.html" title="">Works</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>About:</h3>
                  <p>Welcome to my creative space! I'm Rishikesh Sharad Memane, 
                    a passionate Data geek based in Pune ,Maharashtra, India. With a knack for Data Analytics, I embark on a journey to transform raw data into captivating insights.</p>
                  <h3>Background:</h3>
                  <p>Armed with a degree in Bachelors Degree in Printing Engineering from University of Pune, my journey in the realm of data began in late 2021. 
                    From the foundations of statistical analysis to the intricacies of machine learning algorithms, 
                    I've cultivated a skill set that revolves around understanding and harnessing the power of data.
                  <h3>Skills:</h3>
                  <p>Being a Sales Intern and later a Data Scientist Intern, I’ve developed and tweaked my data analyst and statistical analysis skills. Over the last year, I have worked on developing SQL,
                     Power BI, Machine Learning, Python and Excel skills through various online and offline platforms.
                  .</p>
                  <h3>Beyond Data:</h4>
                  <p> 
                    When I'm not knee-deep in datasets, you can find me on the football field, scoring goals and enjoying the beautiful game. I'm also deeply passionate about design, where I explore the intersection of creativity and functionality. Additionally, I have a love for traveling, discovering new cultures, and embracing diverse perspectives. These interests—football, design, and traveling—provide a well-rounded perspective that enhances my problem-solving skills.
                     Whether it's a strategic play, a visually compelling design, or an enriching travel experience, I bring the same level of enthusiasm and dedication to everything I do.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt=""><br>
                  <img src="./static/assets/images/profil2.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>